name: "Pull"

on:
  workflow_call:
    inputs:
      npm-outdated:
        type: boolean
        default: true
      actions-up:
        type: boolean
        default: true

jobs:
  pull:
    name: "Pull"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    permissions:
      checks: write
      issues: write
      pull-requests: write

    steps:
      - name: "Debug CTX github"
        continue-on-error: true
        env:
          GITHUB_CTX: ${{ toJSON(github) }}
        run: echo "$GITHUB_CTX"

      - name: "Checkout Pull"
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: "Debug"
        continue-on-error: true
        run: |
          echo "::group::ls"
          ls -lAh .
          echo "::endgroup::"
          echo "::group::tree"
          tree .
          echo "::endgroup::"

      - name: "NPM Outdated Check"
        if: ${{ inputs.npm-outdated }}
        continue-on-error: true
        uses: cssnr/npm-outdated-action@latest

      - name: "Actions Up"
        if: ${{ inputs.actions-up }}
        continue-on-error: true
        uses: cssnr/actions-up-action@latest
        with:
          exclude: "cssnr/.*,actions/.*"
